In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([10, 20, 30, 40], columns=['numbers'], index=['a', 'b', 'c', 'd'])
df

   numbers
a       10
b       20
c       30
d       40

In [3]:
df.index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [4]:
df.columns

Index([u'numbers'], dtype='object')

In [5]:
df.ix['c']

numbers    30
Name: c, dtype: int64

In [6]:
df.ix[['a', 'c']]

   numbers
a       10
c       30

In [7]:
df.ix[df.index[1:3]]

   numbers
b       20
c       30

In [8]:
df.sum()

numbers    100
dtype: int64

In [9]:
df.apply(lambda x: x**2)

   numbers
a      100
b      400
c      900
d     1600

In [10]:
df ** 2

   numbers
a      100
b      400
c      900
d     1600

In [11]:
df['floats']=  (1.5, 2.5, 3.5, 4.5
               )
df

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5

In [12]:
df['names'] = pd.DataFrame(['Yves', 'Guido', 'Felix', 'Francesc'], index=['d', 'a', 'b', 'c'])
df

   numbers  floats     names
a       10     1.5     Guido
b       20     2.5     Felix
c       30     3.5  Francesc
d       40     4.5      Yves

In [13]:
df.append({'numbers': 100, 'floats': 5.75, 'names': 'Henry'}, ignore_index=True)

   numbers  floats     names
0       10    1.50     Guido
1       20    2.50     Felix
2       30    3.50  Francesc
3       40    4.50      Yves
4      100    5.75     Henry

In [14]:
df = df.append(pd.DataFrame({'numbers': 100, 'floats': 5.75, 'names': 'Henry'}, index=['z',]))

In [15]:
df = df.join(pd.DataFrame([1, 4, 9, 16, 25], index=['a', 'b', 'c', 'd', 'y'], columns=['squares',]), how='outer')
df

   floats     names  numbers  squares
a    1.50     Guido     10.0      1.0
b    2.50     Felix     20.0      4.0
c    3.50  Francesc     30.0      9.0
d    4.50      Yves     40.0     16.0
y     NaN       NaN      NaN     25.0
z    5.75     Henry    100.0      NaN

In [18]:
df[['numbers', 'squares']].mean()

numbers    40.0
squares    11.0
dtype: float64

In [19]:
df[['numbers', 'squares']].std()

numbers    35.355339
squares     9.669540
dtype: float64